<div class="container">
  <h2>Sorular</h2>
  <button mat-fab  matTooltip="Soru Ekle" color="primary" (click)="Ekle()">
    <mat-icon aria-label="">add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <mat-form-field appearance="outline" style="width:50%;">
    <mat-label>Kategori Seçiniz</mat-label>
    <mat-select placeholder="Kategori Seçiniz" (selectionChange)="KategoriSec($event.value)">
      <mat-option [value]="kat" *ngFor="let kat of kategoriler">{{kat.kategori_adi}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8"  >
    <ng-container matColumnDef="soru_baslik"  >
      <mat-header-cell *matHeaderCellDef> Başlık
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">{{kayit.soru_baslik}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="soru_tarih"  >
      <mat-header-cell *matHeaderCellDef> Tarih
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">{{kayit.soru_tarih | date:'dd.MM.yyyy HH:mm:ss'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="uye_kullanici_adi"  >
      <mat-header-cell *matHeaderCellDef> Kullanıcı Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">{{kayit.uye_kullanici_adi}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="kategori_adi"  >
      <mat-header-cell *matHeaderCellDef> Katergoi Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">{{kayit.kategori_adi}}</mat-cell>
    </ng-container>





    <ng-container matColumnDef="Detay">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> 

        <button mat-icon-button color="primary" matTooltip="Soru Önizle" (click)="Detay(kayit)">
          <mat-icon aria-label="label">search</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Soru Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Soru Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator 
        [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>