<div class="container">
<h2>OTURUM AÇ</h2>
<mat-form-field appearance="outline" style="width:50%">
  <mat-label>Kullanıcı Adı:</mat-label>
  <input matInput placeholder="Kullanıcı Adı" type="text" #kullanici_adi>
</mat-form-field>
<mat-form-field appearance="outline"style="width:50%" >
<mat-label>parola:</mat-label>
  <input matInput placeholder="parola" type="password" #parola>
</mat-form-field>
<button mat-raised-button color="primary" (click)="OturumAc(kullanici_adi.value, parola.value)">Oturum Aç</button>
</div>